/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #0b132b;
    /* Dark Blue */
    color: #ffffff;
    line-height: 1.6;
}

/* HEADER & NAVBAR */
header {
    background-color: #000814;
    padding: 20px 0;
}

nav {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav h1 {
    color: #4cc9f0;
    font-size: 26px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #4cc9f0;
}

/* MAIN CONTAINER */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

/* CARD SECTIONS */
.card {
    background-color: #1c2541;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* HEADINGS */
h2 {
    color: #4cc9f0;
    margin-bottom: 15px;
}

/* LISTS */
ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* BUTTON */
button {
    background-color: #4cc9f0;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #90dbf4;
}

/* LINKS */
a {
    color: #4cc9f0;
}

/* FOOTER */
footer {
    background-color: #000814;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
}